.make{
    width:100%;
    padding-top:90px;
    display:flex;
    justify-content: space-between;
    font-family: $fontOne;
    &__left{
        width:60%;
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        
        h3{
            display:flex;
            font-size:30px;
            font-weight:bold;
            padding-bottom: 5px;
            color:$black;
            position: relative;
            transition: 0.2s linear;
            &::after{
                content: '';
                position:absolute;
                bottom:0px;
                left:0px;
                width:0px;
                height:3px;
                background:$orangeLight;
                border-radius:10px;
                transition: 0.2s linear;
            }
        }
        &:hover > h3{
            color: $orangeLight;
        }
        &:hover > h3::after{
            width:295px;
        }
        p{
            margin-top:5px;
            font-size:18px;
            color:$black;
            font-weight:500;
        }
        span{
            width:95%;
            margin-top:30px;
            font-size:14px;
            color:$black;
            font-weight: 450;
            font-family:'Open Sans', sans-serif;;
            letter-spacing: 0.8px;
        }
        &--image{
            margin-top:55px;
            width:585px;
            height:301px;

            img{
                width:100%;
                height:100%;
                object-fit: cover;
            }
        }
    }
    &__right{
        width:40%;
        &--content1, &--content2, &--content3 {
            display:flex;
            justify-content: space-between;
            margin-bottom: 45px;
            i{
                height:100%;
                margin-right: 25px;
                display:flex;
                justify-content: center;
                align-items:center;
                color:$black;
                padding:15px;
                font-size: 30px;
                background: $sliver;
                border-radius: 3px;
                transition: background-color 0.1s linear, color 0.1s linear;
            }
            &-main{
                p{
                    font-size:20px;
                    color:$black;
                    font-weight: 500;
                    transition:color 0.1s linear;
                }
                span{
                    display:block;
                    margin-top:5px;
                    font-size:15px;
                    color:$black;
                    transition:color 0.1s linear;
                }
            }
            &:hover > &-main > p, &:hover > &-main > span{
                color:$orangeLight;
            }
            &:hover > i{
                background:$orangeLight;
                color:$white;
            }
        }
    }
}
.more{
    margin-left:85px;
}