* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  max-width: 1970px;
  margin: auto;
}

.container {
  max-width: 1170px;
  height: 100%;
  padding: 0px 15px;
  margin: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  font-family: "Karla", sans-serif;
  padding: 10px 20px;
  color: #fff;
  font-size: 15px;
  background-color: #29c2e1;
  border: none;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
}

.header {
  width: 100%;
}
.header__top {
  width: 100%;
  height: 50px;
  background: #e5eef0;
  font-family: "Karla", sans-serif;
}
.header__top__content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__top__content--left p {
  font-size: 14px;
  color: #93a1a7;
  text-transform: uppercase;
  font-weight: 550;
}
.header__top__content--right {
  display: flex;
  height: 100%;
}
.header__top__content--right-phone {
  display: flex;
  align-items: center;
  padding: 0px 25px;
  font-size: 25px;
  color: #93a1a7;
  border-right: 1px solid #d8e3e6;
}
.header__top__content--right-phone i {
  margin-right: 10px;
  font-size: 20px;
}
.header__top__content--right-phone span {
  font-size: 14px;
}
.header__top__content--right-gmail {
  display: flex;
  align-items: center;
  padding-left: 25px;
  color: #93a1a7;
}
.header__top__content--right-gmail i {
  margin-right: 10px;
  font-size: 20px;
}
.header__top__content--right-gmail span {
  font-size: 14px;
}
.header__center {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__center--logo {
  width: 42px;
  height: 36px;
}
.header__center--logo img {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}
.header__center--menu {
  font-family: "Karla", sans-serif;
}
.header__center--menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__center--menu ul li {
  padding: 8px 18px;
}
.header__center--menu ul li:last-child {
  background: #29c2e1;
  border-radius: 20px;
}
.header__center--menu ul li:last-child a {
  color: #fff;
}
.header__center--menu ul li:last-child:hover > a {
  color: #fff;
}
.header__center--menu ul li a {
  color: #93a1a7;
  font-size: 14.5px;
  font-weight: 500;
  transition: 0.3s linear;
}
.header__center--menu ul li:hover > a {
  color: #29c2e1;
}
.header__banner {
  width: 100%;
  height: 750px;
  position: relative;
  font-family: "Karla", sans-serif;
  background: rgba(0, 0, 0, 0.5);
}
.header__banner--slider {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.header__banner--slider-items {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
  transition: 0.3 linear;
}
.header__banner--slider-items img {
  background-size: 100% 100%;
  object-fit: contain;
  width: 100%;
  z-index: -1;
  position: absolute;
  animation: slide 0.7s linear;
  transition: opacity 0.7s linear;
}
@keyframes slide {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}
.header__banner--slider-items-title {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__banner--slider-items h3 {
  font-size: 50px;
  color: #fff;
  z-index: 1;
  text-transform: uppercase;
  animation: word 0.7s linear;
  transition: opacity 0.7s linear, transform 0.5s linear;
}
@keyframes word {
  from {
    opacity: 0;
    transform: translateY(40%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
.header__banner--slider-items span {
  padding: 20px 0px;
  color: #ddd;
  font-size: 15px;
  text-transform: uppercase;
  animation: desc 0.7s linear;
  transition: opacity 0.7s linear, transform 0.7s linear;
}
@keyframes desc {
  from {
    opacity: 0;
    transform: translateY(-40%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
.header__banner--dot {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
}
.header__banner--dot span {
  margin: 0px 5px;
  width: 12px;
  height: 12px;
  border: 2px solid #999;
  display: flex;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s linear;
}
.header__banner--btn {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.header__banner--btn > a:first-child {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  user-select: none;
  transition: 0.3s linear;
}
.header__banner--btn > a:first-child:hover {
  color: #29c2e1;
}
.header__banner--btn > a:last-child {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  user-select: none;
}
.header__banner--btn > a:last-child:hover {
  color: #29c2e1;
}

.active {
  background: #999;
}

.make {
  width: 100%;
  padding-top: 90px;
  display: flex;
  justify-content: space-between;
  font-family: "Karla", sans-serif;
}
.make__left {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.make__left h3 {
  display: flex;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 5px;
  color: #111;
  position: relative;
  transition: 0.2s linear;
}
.make__left h3::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0px;
  height: 3px;
  background: #f7941d;
  border-radius: 10px;
  transition: 0.2s linear;
}
.make__left:hover > h3 {
  color: #f7941d;
}
.make__left:hover > h3::after {
  width: 295px;
}
.make__left p {
  margin-top: 5px;
  font-size: 18px;
  color: #111;
  font-weight: 500;
}
.make__left span {
  width: 95%;
  margin-top: 30px;
  font-size: 14px;
  color: #111;
  font-weight: 450;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.8px;
}
.make__left--image {
  margin-top: 55px;
  width: 585px;
  height: 301px;
}
.make__left--image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.make__right {
  width: 40%;
}
.make__right--content1, .make__right--content2, .make__right--content3 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}
.make__right--content1 i, .make__right--content2 i, .make__right--content3 i {
  height: 100%;
  margin-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #111;
  padding: 15px;
  font-size: 30px;
  background: #e5eef0;
  border-radius: 3px;
  transition: background-color 0.1s linear, color 0.1s linear;
}
.make__right--content1-main p, .make__right--content2-main p, .make__right--content3-main p {
  font-size: 20px;
  color: #111;
  font-weight: 500;
  transition: color 0.1s linear;
}
.make__right--content1-main span, .make__right--content2-main span, .make__right--content3-main span {
  display: block;
  margin-top: 5px;
  font-size: 15px;
  color: #111;
  transition: color 0.1s linear;
}
.make__right--content1:hover > .make__right--content1-main > p, .make__right--content1:hover > .make__right--content1-main > span, .make__right--content1:hover > .make__right--content2-main > p, .make__right--content1:hover > .make__right--content2-main > span, .make__right--content1:hover > .make__right--content3-main > p, .make__right--content1:hover > .make__right--content3-main > span, .make__right--content2:hover > .make__right--content1-main > p, .make__right--content2:hover > .make__right--content1-main > span, .make__right--content2:hover > .make__right--content2-main > p, .make__right--content2:hover > .make__right--content2-main > span, .make__right--content2:hover > .make__right--content3-main > p, .make__right--content2:hover > .make__right--content3-main > span, .make__right--content3:hover > .make__right--content1-main > p, .make__right--content3:hover > .make__right--content1-main > span, .make__right--content3:hover > .make__right--content2-main > p, .make__right--content3:hover > .make__right--content2-main > span, .make__right--content3:hover > .make__right--content3-main > p, .make__right--content3:hover > .make__right--content3-main > span {
  color: #f7941d;
}
.make__right--content1:hover > i, .make__right--content2:hover > i, .make__right--content3:hover > i {
  background: #f7941d;
  color: #fff;
}

.more {
  margin-left: 85px;
}

.client {
  width: 100%;
  background-color: #e5eef0;
  font-family: "Karla", sans-serif, "Raleway", sans-serif;
}
.client__content {
  padding: 90px 0px;
  display: flex;
  justify-content: space-between;
}
.client__content--left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.client__content--left h3 {
  font-size: 30px;
  font-weight: bold;
  color: #111;
}
.client__content--left p {
  font-size: 18px;
  color: #111;
  font-weight: 400;
}
.client__content--left-desc {
  margin-top: 50px;
  display: flex;
  width: 100%;
}
.client__content--left-desc i {
  flex-basis: 15%;
  font-size: 60px;
  color: #111;
}
.client__content--left-desc-content {
  padding-top: 10px;
  flex-basis: 85%;
  display: flex;
  color: #62676c;
  font-weight: 500;
  flex-direction: column;
}
.client__content--left-desc-content > span:first-child {
  font-size: 15px;
  font-family: "Lora", serif;
}
.client__content--left-desc-content > span:nth-child(2) {
  display: block;
  margin-top: 20px;
  font-size: 14px;
}
.client__content--left-desc-content address {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 550;
  color: #f7941d;
}
.client__content--right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.client__content--right-image {
  display: flex;
  overflow-x: auto;
  transition: 0.3s linear;
}
.client__content--right-image-1, .client__content--right-image-2, .client__content--right-image-3 {
  width: 100%;
  display: flex;
  transition: 0.3s linear;
}
.client__content--right-image-1 img, .client__content--right-image-2 img, .client__content--right-image-3 img {
  margin: 0px 30px;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  transition: 0.3s linear;
}
.client__content--right-image::-webkit-scrollbar {
  width: 0px;
  display: none;
}
.client__content--right .acClient {
  background: #f7941d;
}
.client__content--right-dot {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  transition: 0.3s linear;
}
.client__content--right-dot a {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #93a1a7;
  margin: 0px 5px;
  transition: 0.3s linear;
}
.client__content--right-dot a:target {
  transition: 0.3s linear;
}

/*# sourceMappingURL=style.css.map */
